<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TokenApp.TokenSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TokenApp.TokenSetting>
            <setting name="SecurityKey" serializeAs="String">
                <value>K2IOO55jwWQQlcIr-NdH2T4ENaxCUuZgg6OWOTArfxo</value>
            </setting>
            <setting name="AudienceAddress" serializeAs="String">
                <value>http://www.spawn.com</value>
            </setting>
            <setting name="TokenIssuerName" serializeAs="String">
                <value>TokenOne</value>
            </setting>
        </TokenApp.TokenSetting>
    </applicationSettings>
</configuration>